@model Vidly_2nd_try.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "action1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@foreach (var i in Model.Customer)
{
    <p>
        @i.Name
    </p>
}

